body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5ecb6;
    color: #224355;
}

h1 {
    border: 5px double #60a587;
    padding: 1em;
}

header > p {
    font-weight: bold;
}

img {
	border: 1px solid #999;
	background-color: #f8685a;
	padding: 4px;
}